{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block scripts %}<script src="{% static 'scripts/home_page.js' %}" type="text/javascript"></script>{% endblock scripts %}

{% block Content %}

<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">{{ user.username }} messages</h1>

		<div class="card">
			<div class="row g-0">
				{% block Client %}
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="search" class="form-control my-3" id="search-input" placeholder="Search...">
							</div>
						</div>
					</div>

					<div id="friendlist">
						{% include "includes/sidebar.html" %}
					</div>

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>

				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								{% comment %} <img src="{{ Companion.users.get_photo_url }}" class="rounded-circle mr-1" alt="{{ Companion.username }}" width="40" height="40"> {% endcomment %}
							</div>
							<div class="flex-grow-1 pl-3">
								{% comment %} <strong>{{ Companion.username }}</strong> {% endcomment %}
								{% comment %} <div class="text-muted small"><em>Typing...</em></div> {% endcomment %}
							</div>
							<div>
								<a href="{% url 'logout' %}">
									<button class="btn btn-primary btn-lg mr-1 px-3">
										Log Out
									</button>
								</a>
								<button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
							</div>
						</div>
					</div>


					<div class="position-relative">
						<div class="input-group">
							<input type="text" class="form-control" id="login-input" placeholder="Type your Message">
							<button class="btn btn-primary" id="send-button">Send</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	{{ user.username|json_script:"Auth_username" }}

</main>
{% endblock Client %}
{% endblock Content %}