{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block scripts %}<script src="{% static 'scripts/home_page.js' %}" type="text/javascript"></script>{% endblock scripts %}

{% block Content %}

<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">{{ user.username }} messages</h1>

		<div class="card">
			<div class="row g-0">
				{% block Client %}
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="search" class="form-control my-3" id="search-input" placeholder="Search...">
							</div>
						</div>
					</div>

					{% include "includes/sidebar.html" %}

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>

				<div class="col-12 col-lg-7 col-xl-9">
					
					{% include "includes/header.html"%}

					<div class="Home">
						<div class="Welcome">
							Welcome Home!
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	{{ user.username|json_script:"Auth_username" }}

	<div id="add_friend" data-url="{% url 'add_new_friend' Client.id.value %}"></div>

</main>
{% endblock Client %}
{% endblock Content %}