{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block Content %}

<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">{{ user.username }} messages</h1>

		<div class="card">
			<div class="row g-0">
				{% block Client %}
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>

						{% for U in UsErS %}
							<a href="{% url 'user_messages' Client.id U.id %}"  id="{{ U.username }}" class="list-group-item list-group-item-action border-0">
								<div class="badge bg-success float-right"></div>
								<div class="d-flex align-items-start">
									<img src="{{ U.users.get_photo_url }}" class="rounded-circle mr-1" alt="{{ U.username }}" width="40" height="40">
									<div class="flex-grow-1 ml-3">
										{% if Client.id != U.id %}
											{{ U.username }}
										{% else %}
											To Self
										{% endif %}
										<div class="small"><span class="fas fa-circle chat-online"></span>Offline</div>
									</div>
								</div>
							</a>
						{% endfor %}

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>

				{% block Companion %}
					<div class="col-12 col-lg-7 col-xl-9">
						<div class="py-2 px-4 border-bottom d-none d-lg-block">
							<div class="d-flex align-items-center py-1">
								<div class="position-relative">
									<img src="{{ Companion.users.get_photo_url }}" class="rounded-circle mr-1" alt="{{ Companion.username }}" width="40" height="40">
								</div>
								<div class="flex-grow-1 pl-3">
									<strong>{{ Companion.username }}</strong>
									<div class="text-muted small"><em>Typing...</em></div>
								</div>
								<div>
									<a href="{% url 'logout' %}">
										<button class="btn btn-primary btn-lg mr-1 px-3">
											Log Out
										</button>
									</a>
									<button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
								</div>
							</div>
						</div>


							<div class="position-relative">
								<div class="input-group">
									<input type="text" class="form-control" id="login-input" placeholder="Type your Message">
									<button class="btn btn-primary" id="send-button">Send</button>
								</div>
							</div>
					</div>

				{% endblock Companion %}
				{% endblock Client %}

			</div>
		</div>
	</div>
</main>

<script>
	const HubName = 'testHub';
	const AuthorizedUser = '{{ user.username }}';

    const HubSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/hub/'
            + HubName
            + '/'
        );

	HubSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let message = data['message'];
		if (message == 'init_connected_users_list') {
			init_online_users(data['connected_users']);
		} else if (message == 'new_connectoin') {
			client_connected(data['author']);
		} else if (message == 'disconnection') {
			client_disconnected(data['author']);
		} else if (message == 'new_message') {
			appeared_new_message(data['author']);
		}
    };

	function init_online_users(connected_users) {
		for (let i = 0; i < connected_users.length; i++) {
			user = document.querySelector('#' + connected_users[i]);
			user.children[1].children[1].children[0].textContent = 'Online';
		}
	};

	function client_connected(client) {
		if (client != AuthorizedUser) {
			user = document.querySelector('#' + client);
			user.children[1].children[1].children[0].textContent = 'Online';
		}
	};

	function client_disconnected(client) {
		user = document.querySelector('#' + client);
		user.children[1].children[1].children[0].textContent = 'Offline';
	};

	function appeared_new_message(author) {
		user = document.querySelector('#' + author);
		value = user.children[0].textContent;
		if (value == '') {
			user.children[0].textContent = '1';
		} else {
			value = Number(value) + 1;
			user.children[0].textContent = `${value}`;
		}
	};

    HubSocket.onclose = function(e) {
    	console.error('Hub socket closed unexpectedly');
    };

</script>

{% endblock Content %}