<div id="friendlist">
    {% for U, Unreaded in UsErS.items %}
        <div  id="top_{{ U.user.username.value }}" style="position: relative;">
            <a href="{% url 'user_messages' Client.id.value U.user.id.value %}"  id="{{ U.user.username.value }}" class="list-group-item list-group-item-action border-0">
                {% if Unreaded != 0 and Client.id.value != U.user.id.value %}
                    <div class="badge bg-success float-right" style="margin-top: 10px;">{{ Unreaded }}</div>
                {% else %}
                    <div class="badge bg-success float-right" style="margin-top: 15px;"></div>
                {% endif %}
                <div class="d-flex align-items-start">
                    <img src="{{ U.get_photo_url.value }}" class="rounded-circle mr-1" alt="{{ U.user.username.value }}" width="40" height="40">
                    <div class="flex-grow-1 ml-3">
                        {% if Client.id.value != U.user.id.value %}
                            {{ U.user.username.value }}
                        {% else %}
                            To Self
                        {% endif %}
                        <div class="small"><span class="fas fa-circle chat-online"></span>Offline</div>
                    </div>
                
                </div>
            </a>
            {% if Client.id.value != U.user.id.value %}
                <button onclick="location.href='{% url 'delete_friend' Client.id.value U.user.id.value %}'" type="button" class="btn btn-light" style="height: 25px; width: 25px; position: absolute; top: 0; right: 0; z-index: 2; visibility: hidden;">
                    <span id="boot-icon" class="bi bi-x" style="position: absolute; top: 0; right: 15%;"></span>
                </button>
            {% endif %}
        </div>
    {% endfor %}
</div>